.aside {
    background-color: green;
    width: 250px;
    height: 85vh;
    border-radius: 5px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}